{:paths ["src" "test" "portfolio" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        thheller/shadow-cljs {:mvn/version "3.1.8"}
        no.cjohansen/portfolio {:mvn/version "2025.01.28"} ; storybook for CLJS
        no.cjohansen/replicant {:mvn/version "2025.06.21"} ; functional rendering library
        no.cjohansen/nexus {:mvn/version "2025.07.1"} ; action dispatch
        datascript/datascript {:mvn/version "1.7.5"}
        no.cjohansen/dataspex {:mvn/version "2025.06.8"}} ; in-browser data browser
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}